

.horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graytext {
    font-size: small;
    color: gray;
}

.navItem {
    margin-right: 24px;
    list-style:none;
    padding-right: 28px;
    border-right: 2px solid lightgray(227, 223, 223, 0.804);
    color : black;
    font-weight: bold;
}

.navItem a {
    text-decoration: none;
    color: black;
}

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contactInfo {
    margin-right: 24px;
    color: rgb(11, 1, 1);
    padding-right: 28px;
    border-right: 2px solid lightgray;
}

.contactInfo span{
    color: yellowgreen;
}
.navmenu{
    padding: px;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
}
    

.navmenu span{
    color: rgb(247, 253, 247);
    background-color: yellowgreen;
    padding: 3px;
    align-items: center;
}


#appointment{
    background-color: yellowgreen;  
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
#appointment a{
    text-decoration: none;
    color: white;
}

