*{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graytext {
    font-size: small;
    color: gray;
}

.navItem {
    margin-right: 24px;
    list-style:none;
    padding-right: 28px;
    padding-top: 5px;
    border-right: 2px solid lightgray(227, 223, 223, 0.804);
    color : black;
    font-weight: bold;
}

.navItem a {
    text-decoration: none;
    color: black;
}

.navItem:hover {
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 5px;
}

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space{
    padding: 12px 68px;
}
.contactInfo {
    margin-right: 24px;
    color: rgb(11, 1, 1);
    padding-right: 28px;
    border-right: 2px solid lightgray;
}

.contactInfo span{
    color: yellowgreen;
}
.hdrmenu{
    padding: px;
    font-size: 25px;
    align-items: center;
    font-weight: bold;
}
    

.hdrmenu span{
    color: rgb(247, 253, 247);
    background-color: yellowgreen;
    padding: 3px;
    align-items: center;
}


#appointment{
    background-color: yellowgreen;  
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
#appointment a{
    text-decoration: none;
    color: white;
}

.background{
    background-image: url(../images/typ\ cp1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#button{
    background-color: yellowgreen;
    color: rgb(24, 24, 24);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

#heading{
    font-size: 42px;
    font-weight:bold;
    margin-bottom: 20px;
    color: rgb(248, 243, 243);
}

#bckg {
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    background-position: top;
    width: 1365px;
    height: 580px ;
    display: flex;
    background-repeat: no-repeat;
    color: rgb(21, 20, 20);
    text-align: left;
    margin-top: 60px;
}


#abouttext{
    padding: 20px;
    font-size: 35px;
    margin-bottom: 5px;
    line-height: 53px;
    

    }


#aboutwords{
    padding: 20px;
    font-size: 15px;
    color: rgb(128, 122, 122)
   ;
}

#abouthead{
    width: 400px;
}

#abouthead span{
    
    color: rgb(247, 253, 247);
    background-color: rgb(42, 43, 40);
    padding: 3px;
    align-items: center;
    
}

.text{
    width: 300px;
}

#aboutextra{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 30px 10px 10px 10px;

}

#pgr{
    display: flex;
    align-items: center;

}

#ain{
    font-size: 19px;
    text-align: end;
    font-weight: bold;
    position: sticky;
}

#bin{
font-size: 13px;
    color: rgb(132, 132, 132);
}


.ourdoctors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin-top: 60px;
    font-weight: bold;
}


.doc{
    display: flex;
    justify-content: space-between;
}


.align{
    width: 400px;
    height: 400px;
    padding-right: 28px;
}

.container {
    padding: 16px 64px
}

.order{
    width: 350px;
    color: solid rgb(175, 61, 61);
}

.apt{
    background-image: url(../images/appointment-image.jpg);
    background-size: cover;
    background-position: left;
    width: 1365px;
    height: 580px ;
    display: flex;
    background-repeat: no-repeat;
    color: rgb(21, 20, 20);
    text-align: right;
    align-items: self-end;
    margin-top: 60px;
}

.background-image {  
    background-image: url('../images/appointment-image.jpg');  
    background-size: cover;  
    background-position: initial;  
    height: 800px;  
    display: flex;  
    justify-content: right;  
    align-items: center;  
}  

.form-overlay {  
    background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */  
    padding: 20px;  
    border-radius: 8px;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);  
    width: 300px;  
}  

.form-overlay h2 {  
    text-align: center;  
}  

.arrange {  
    display: flex;  
    justify-content: space-between;  
}

/* mobile styling */
